:root {
  --my-text-color: rgba(200, 212, 187, 0.961);
  --my-theme-color: rgba(0, 0, 0, 0.961);
}

.avatar {
  vertical-align: middle;
  border-radius: 50%;
  display: flex;
  margin-bottom: 50px;
  margin-top: 50px;
}

.card {
  border-radius: 4px;
  padding: 20px;
  max-width: 400px;
  flex: 0 0 500px;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Add shadow to the card on hover */
.card:hover {
  box-shadow: 10px 10px 5px #6b9080;
}

.card header {
  padding: 20px;
  font-weight: bold;
  background: var(--my-theme-color);
  color: var(--my-text-color);
}

.icon {
  color: black;
}

.card img {
  max-width: 100%;
  height: 300px;
}

@media screen and (max-width: 768px) {
  /* Adjust card styles for smaller screens */
  .card {
    max-width: 100%; /* Allow cards to take full width on smaller screens */
    margin: 10px 0; /* Reduce margin to stack cards closely */
  }

  footer {
    flex-direction: column;
  }
}
