/* 6b9080
a4c3b2
cce3de
eaf4f4
f6fff8 */

#root {
  max-width: auto;
  margin: 0 auto;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  flex: 0 0 auto; /* Non-flexible header */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.main-content {
  flex: 1; /* Flexible main content */
  margin-top: 100px; /* Adjust to match the header height */
  overflow-y: auto; /* Enable vertical scrolling if necessary */
  background-color: rgba(200, 212, 187, 0.961);
}

.footer {
  flex: 0 0 auto; /* Non-flexible footer */
  background-color: #2b3035;
}

.brand {
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.form {
  margin: 20px;
  margin-bottom: 5px;
  width: 25%;
}

.btn {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #2b3035;
}

.btn:hover {
  background-color: #6b9080;
}

.resume {
  border-radius: 4px;
  padding: 50px;
}

h1 {
  font-size: 2em;
  margin-top: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.page-header {
  display: flex;
  justify-content: center;
  width: 100vh;
  height: 30px;
}

.download-icon {
  padding-right: 5px;
}

.about-me {
  text-align: left;
  width: 75%;
  display: inline-block;
}
